.create_post{
    text-align: center;
}

.create_post h3{
    font-size: 2.2em;
}

.create_post p{
    color: #aaa;
    margin-bottom: 2em;
}

.create_post form{
    max-width: 80%;
    margin-bottom: 50px;
}

.create_post form textarea{
    border: 1px solid #ccc;
    resize: none;
    text-align: justify;
    letter-spacing: 1px;
    padding: 10px;
    text-indent: 20px;
}
